@import '@accoutrement';

.container {
  @include z-index('top-bar');
  @include border-bottom('top-bar');
  @include padding('top-bar');

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: size('top-bar.height');
  line-height: 1;
  background-color: color('top-bar.background');
  isolation: isolate;
  border-color: color('top-bar.border');

  * {
    line-height: 1;
  }

  .title {
    h1 {
      padding: 0;
      margin: 0;
      font-size: 16px;
      line-height: 1em;
    }
  }

  .body {
    flex: 1;
  }

  .nav {
    flex: 0;
  }

  .user {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;

    @include typography('paragraph');
  }

  .user-name {
    display: inline-block;
    padding: 0.5rem;
  }

  .user-avatar {
    font-size: font-size('root');
  }
}

.menu {
  background-color: color('white');
  animation-name: slidein;
  animation-duration: 0.5s;
}

.dropdown {
  @include z-index('top-bar.dropdown');
}

@keyframes slidein {
  from {
    max-height: 0;
  }

  to {
    max-height: 360px;
  }
}

@include media-breakpoint-down('sm') {
  .container {
    color: color('white');
    background-color: color('primary');
    border-color: color('primary');
  }
}
