@import '@accoutrement';

.group {
  padding: size('3x') size('6x') size('3x') 0;
}

.radio {
  display: block;
  cursor: pointer;
  input {
    width: size('input-radio');
    height: size('input-radio');
    border: border('input-checkbox');
    border-radius: 50%;
    appearance: none;
  }

  input:checked {
    border: 5px solid color('primary');
  }
}
