@import '@accoutrement';

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;

  .left {
    @include z-index('nav-bar');

    width: size('nav-bar.min-width');
    overflow: visible;
    isolation: isolate;
  }

  .right {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
  }

  .top {
    @include z-index('top-bar');

    position: sticky;
    top: 0;
  }

  .main {
    flex: 1;
    background-color: color('page.background');
  }

  .always-open {
    width: auto;
  }
}

@include media-breakpoint-down('sm') {
  .container {
    .left {
      position: absolute;
    }

    .top {
      margin-left: size('nav-bar.min-width');
    }
  }
}
