@import '@accoutrement';

@mixin fab-item-with-caret(
  $translate-x,
  $translate-y,
  $offset-x,
  $offset-y,
  $display,
  $child-to-add-in,
  $offsets
) {
  display: $display;
  &:#{$child-to-add-in}-child {
    &::after {
      position: absolute;
      width: size('2x');
      height: size('2x');
      content: '';
      background: color('white');
      box-shadow: $offset-x $offset-y 2px 0 rgba(0, 0, 0, 0.1),
        5px 5px 15px 5px rgba(0, 0, 0, 0);
      transform: translate($translate-x, $translate-y) rotate(45deg);

      @each $prop, $value in $offsets {
        #{$prop}: #{$value};
      }
    }
  }
}

.fab {
  position: absolute !important;

  @include z-index('fab');
  &[class*='-top'] {
    top: size('4x');
  }
  &[class*='-bottom'] {
    bottom: size('4x');
  }
  &[class*='left-'] {
    left: size('2x');
  }
  &[class*='right-'] {
    right: size('2x');
  }
  &[class*='right-center'],
  &[class*='left-center'] {
    top: 50%;
    transform: translateY(-50%);
  }
  &[class*='center-bottom'],
  &[class*='center-top'] {
    left: 50%;
    transform: translateX(-50%);
  }
  &[class*='center-center'] {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fab-list {
  position: relative;

  @include z-index('fab');

  padding-left: 0;
  overflow: auto;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;

  &:focus {
    outline: none;
  }

  &__item {
    position: relative;
    background-color: color('white');
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;

    @include transition('fab');
    @include border-radius('button');

    &.up {
      margin: size('2x') size('1x');
      transform: scaleY(0.3) translateY(size('10x')) translateX(0);
      transform-origin: bottom;

      /** Params: 
      * $translate-x,
      * $translate-y,
      * $offset-x,
      * $offset-y,
      * $display,
      * $child-to-add-in,
      * $offsets
      */
      @include fab-item-with-caret(
        0,
        50%,
        2px,
        2px,
        block,
        'last',
        (
          left: size('5x'),
          bottom: 0,
        )
      );
    }
    &.down {
      margin: size('2x') size('1x');
      transform: scaleY(0.3) translateY(negative(size('10x'))) translateX(0);
      transform-origin: top;

      @include fab-item-with-caret(
        0,
        -50%,
        -1px,
        -1px,
        block,
        'first',
        (
          left: size('5x'),
          top: 0,
        )
      );
    }
    &.right {
      margin: size('2x') 0 size('2x') size('2x');
      transform: scaleX(0) translateY(0) translateX(negative(size('10x')));
      transform-origin: left;

      @include fab-item-with-caret(
        -50%,
        -50%,
        -1px,
        1px,
        inline-block,
        'first',
        (
          left: 0,
          top: 50%,
        )
      );
      &:last-child {
        margin-right: size('2x');
      }
    }
    &.left {
      margin: size('2x') size('2x') size('2x') 0;
      transform: scaleX(0) translateY(0) translateX(size('10x'));
      transform-origin: right;

      @include fab-item-with-caret(
        50%,
        -50%,
        1px,
        -1px,
        inline-block,
        'last',
        (
          right: 0,
          top: 50%,
        )
      );
      &:first-child {
        margin-left: size('2x');
      }
    }
  }
  &.is-open {
    .fab-list__item {
      opacity: 1;
      transform: scaleY(1) translateY(0) translateX(0);
    }
  }
  &.up,
  &.down {
    right: size('2x');
    &[class*='right-'] {
      right: negative(size('2x'));
      .fab-list__item {
        &::after {
          right: size('5x');
          left: auto;
        }
      }
    }
  }
}
