@import '@accoutrement';
@import '@myntra/uikit-component-input-text/style.scss';

.input {
  @include mixin-input-component();

  display: inline-block;
  border-bottom-color: transparent;
}

.checkbox-input {
  display: inline-block;
}

.content:not(:empty) {
  padding-inline-start: size('6x');
  display: inline-block;
}

.checkbox {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    display: inline-block;
    width: size('4x');
    height: size('4x');
    cursor: pointer;
    content: '';
    background-color: transparent;
    border: 2px solid color('gray-dark');

    @include border-radius('checkbox');
    @include transition('checkbox');
  }

  &::after {
    top: 5px;
    left: 4px;
    width: 9px;
    height: 5px;
    color: color('white');
    background: 0 0;
    border: 2px solid color('white');
    border-top: none;
    border-right: none;
    outline: none;
    box-shadow: none;
    opacity: 0;
    transform: rotate(-45deg);

    @include transition('all');
  }
}

.target {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;

  &:checked + .checkbox {
    &::before {
      background-color: color('primary');
      border-color: color('primary');
    }
    &::after {
      z-index: 2;
      opacity: 1;
    }
  }

  &:focus-visible + .checkbox {
    outline: 1px dashed color('primary');
  }

  &[disabled] + .checkbox {
    background-color: color('gray');
    border-color: color('gray-dark');
  }
}
