@import '@accoutrement';

.form {
  .title {
    @include typography('h4');

    padding-bottom: padding-bottom('default');
  }

  .actions {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: size('3x');
    &--right {
      justify-content: flex-end;
    }
    &--left {
      justify-content: flex-start;
    }
    &--centered {
      justify-content: center;
    }
  }
}

@include media-breakpoint-down('sm') {
  .form {
    .actions {
      flex: 1;
      align-items: center;
      justify-self: center;
      padding: 0 size('2x');

      button {
        flex: 1;
      }
    }
  }
}
