@import '@accoutrement';

.container {
  padding-left: 0;
  overflow: auto;
  list-style: none;
  border: 1px solid color('gray-light');
  border-radius: 4px;
  margin-block-start: 0;
  margin-block-end: 0;

  &:focus {
    outline: none;
  }
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 240px;
  height: 36px;
  padding: 10px 10px 8px 6px;
  cursor: pointer;

  @include typography('body');

  &:last-child {
    border-bottom: none;
  }

  &.is-disabled {
    color: color('text-dark-disabled');
    cursor: not-allowed;
  }

  &.is-active,
  &:not(.is-disabled):hover {
    background-color: color('primary-lightest');
  }

  &.selectall {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 37px;
    border-bottom: 1px solid #f3f3f3;
  }
  .radio {
    display: flex;
    align-items: center;
    padding: 11px 11px 8px 6px;
  }
}

.checkbox {
  margin: 0;
  margin-right: size('3x');
  margin-left: size('2x');
  pointer-events: none;
  cursor: pointer;
}

// for multiple selection list
.is-selected {
  font-weight: 500;
  color: color('primary');
  background-color: transparent;
}

.is-single-selectable {
  .is-selected {
    font-weight: 500;
    color: color('primary');
    background-color: transparent;
  }
  .checkbox {
    display: none;
  }
}
