@import '@accoutrement';
@import '@myntra/uikit-component-input-text/style.scss';

.container {
  position: relative;
  display: flex;
  overflow: scroll;
  resize: vertical;
  &.standard {
    @include mixin-input-text-revamp(
      'border-bottom',
      padding('input-text-standard')
    );
  }
  &.bordered {
    @include mixin-input-text-revamp('border', padding('input.textarea'));
  }
  textarea {
    color: text-color('input.text');
    resize: none;
  }
  &.disable {
    resize: none;
  }
  &.disable textarea {
    background-color: transparent;
  }
  &.noResize {
    resize: none;
  }
}
.icon {
  margin-right: size('2x');
}
.input {
  width: 100%;
  vertical-align: baseline;
  border: none;
  outline: none;

  &:disabled,
  &[disabled] {
    resize: none;
  }
}
