@import '@accoutrement';

.picker {
  display: flex;
  min-width: 300px;
  max-width: 360px;

  .left-pane {
    flex: 2 66.666666%;
    border: 1px solid color('gray-light');
  }

  .right-pane {
    position: relative;
    flex: 1 33.333333%;
    overflow: scroll;
    border: 1px solid color('gray-light');
    border-left: none;
  }

  .title {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0.5em 1em;
    text-align: center;
    background: color('white');
    border-bottom: 1px solid color('gray-light');
  }
}
