@import '@accoutrement';

.svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  fill: var(--current-color, currentColor);

  &.small {
    font-size: size('4x');
  }

  &.medium {
    font-size: size('6x');
  }

  &.large {
    font-size: size('8x');
  }

  $-text-colors: (
    'primary': 'primary',
    'success': 'success',
    'warning': 'warning',
    'disabled': 'gray',
    'error': 'danger',
    'dark': 'dark',
    'light': 'light',
  );

  @each $key, $value in $-text-colors {
    &.#{$key} {
      color: text-color($value);
    }
  }
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
