@import '@accoutrement';

.group {
  @include margin('tab.group');

  background-color: color('white');
}

.pane {
  &.primary {
    border-bottom: border('tab.pane');
    border-bottom-color: color('tab.border');
  }
}
