@import '@accoutrement';

.group {
  @include margin('tab.group');

  background-color: color('white');
}

.pane {
  position: relative;
  display: flex;
  overflow: auto;
  &.primary {
    .slider {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      border-bottom: size('1x') solid color('primary-base-new');
      transition: left 0.3s, width 0.3s;
    }
  }
}
