@import '@accoutrement';

.modal {
  @include padding('modal');

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: z-index('modal');
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.54);
}

.body {
  position: relative;
}

.close {
  position: absolute;
  top: negative(size('2x'));
  right: negative(size('4x'));
  padding-right: 0;
  color: text-color('light');

  svg {
    width: 24px;
    height: 24px;
  }
}

@include media-breakpoint-down('sm') {
  .drawer-body {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .drawer-close {
    position: absolute;
    top: size('1x');
    right: size('3x');
    color: color('gray-dark-base');

    svg {
      width: 12px;
    }
  }
}
