@import '@accoutrement';

.title {
  padding-bottom: size('3x');
  margin-top: 0;
  margin-bottom: size('3x');
  border-bottom: 1px solid color('gray-dark');
}

.wrapper {
  min-width: 320px;
  max-width: 95vw;
  min-height: 320px;
  padding: size('6x');
  background: color('white');
}

.content {
  max-height: 60vh;
  overflow: auto;
}

.side_drawer,
.side_drawer_title {
  overflow: auto;
}

.side_drawer {
  min-height: 85vh;
  max-height: 85vh;
}

.side_drawer_title {
  min-height: 80vh;
  max-height: 80vh;
}

.actions {
  padding-top: size('6x');
  margin-top: size('6x');
  text-align: right;
  border-top: 1px solid color('gray-dark');
}

@include media-breakpoint-down('sm') {
  .wrapper {
    max-width: 85vw;
  }

  .drawer-wrapper {
    display: flex;
    flex-direction: column;
    max-width: unset;
    min-height: 22vh;
    max-height: 75vh;
    border-radius: 8px 8px 0 0;
  }

  .drawer-actions {
    padding-top: size('2x');
    margin-top: size('2x');
    border-top: none;
  }
}
