@import '@accoutrement';

.item-container {
  overflow: hidden;
  border: 1px solid color('gray');
  border-radius: 4px;
  transition: height 300ms ease-in-out;
  &:not(:last-child) {
    margin-bottom: size('2x');
  }
  .item-content {
    @include transition('all');
  }
  .item-title {
    cursor: pointer;
  }
  .item-title,
  .item-content {
    padding: size('2x');
  }
}
