@import '@accoutrement';

.badge {
  display: inline-block;
  padding: size('small') size('2x');
  text-transform: uppercase;
  border: solid 1px;
  border-radius: size('5x');

  @include typography('paragraph');

  $types: (
    'primary': 'primary',
    'success': 'success',
    'error': 'danger',
    'warning': 'warning',
    'gray': 'gray-dark-3',
    'brown': 'brown',
  );

  @each $name, $color in $types {
    &.#{$name} {
      &.solid {
        color: color('white');
        background-color: color('#{$color}');
        border-color: color('#{$color}');
      }

      &.outlined {
        color: color('#{$color}');
        background-color: color('white');
        border-color: color('#{$color}');
      }
    }
  }

  &.small {
    font-size: size('5x') / 2;
  }

  &.large {
    font-size: size('4x');
  }
}

@include media-breakpoint-down('sm') {
  .badge {
    padding: size('small') / 2 size('2x');

    @include typography('caption');
  }
}
