@import '@accoutrement';

.badge {
  display: inline-block;
  padding: 2px size('2x');
  text-transform: inherit;
  border: solid 1px;
  border-radius: size('1x');

  @include typography('paragraph');

  $types: (
    'info': 'info-base-light',
    'success': 'success-base-light',
    'error': 'danger-base-light',
    'warning': 'warning-base-light',
    'gray': 'primary-base-light-2',
    'brown': 'brown',
  );

  $fontColor: (
    'info': 'info',
    'success': 'success',
    'error': 'danger-new',
    'warning': 'warning-no-fill',
    'gray': 'gray-dark-new',
    'brown': 'white',
  );

  @each $name, $color in $types {
    &.#{$name} {
      &.solid {
        color: color(map-get($fontColor, $name));
        background-color: color('#{$color}');
        border-color: color('#{$color}');
      }

      &.outlined {
        color: color(map-get($fontColor, $name));
        background-color: color('#{$color}');
        border-color: color(map-get($fontColor, $name));
      }
    }
  }

  &.small {
    font-size: size('5x') * 0.5;
  }

  &.large {
    font-size: size('4x');
  }
}

.icon {
  margin-right: size('2x');
}

.close {
  svg {
    width: size('3x');
    height: size('3x');
  }
}

.container {
  display: flex;
  align-items: center;
}

@include media-breakpoint-down('sm') {
  .badge {
    padding: size('small') * 0.5 size('2x');

    @include typography('caption');
  }
}
