@import '@accoutrement';

.badge {
  display: inline-block;
  padding: size('1x') * 0.5 size('2x');
  line-height: 1;
  text-transform: inherit;
  border: solid 1px;
  border-radius: size('1x');

  @include typography('paragraph');

  $types: (
    'info': 'info-base-light',
    'success': 'success-base-light',
    'error': 'danger-base-light',
    'warning': 'warning-base-light',
    'gray': 'primary-base-light-2',
  );

  $fontColor: (
    'info': 'info',
    'success': 'success',
    'error': 'danger-new',
    'warning': 'warning-no-fill',
    'gray': 'gray-dark-new',
  );

  @each $name, $color in $types {
    &.#{$name} {
      &.solid {
        color: color(map-get($fontColor, $name));
        background-color: color('#{$color}');
        border-color: color('#{$color}');
      }

      &.outlined {
        color: color(map-get($fontColor, $name));
        background-color: color('#{$color}');
        border-color: color(map-get($fontColor, $name));
      }
    }
  }
}

.icon {
  padding: size('0.5x') * 0.5;
  margin-right: size('0.5x');
  margin-left: negative('1x');
  font-size: size('3x');
}

.close {
  padding: size('0.5x');
  margin-right: negative('1x');
  margin-left: size('0.5x');
  font-size: size('2x');
  border: none;
}

.container {
  display: flex;
  align-items: center;
}

@include media-breakpoint-down('sm') {
  .badge {
    padding: size('small') * 0.5 size('2x');

    @include typography('caption');
  }
}
