@import '@accoutrement';

.container {
  padding-top: 1em;
  margin-bottom: 1em;
}

.items {
  margin-top: 1rem;
}

.add-item,
.remove-item {
  display: block;
  font-size: 0.7em;
  text-align: right;
}

.add-item {
  margin-top: -2em;
  margin-bottom: 1em;
}
