@import '@accoutrement';

.date-value {
  display: inline-flex;
  width: 100%;
}

.date-value > * {
  flex: 1;
}

.wrapper {
  position: relative;
}

.wrapper > .icon {
  position: absolute;
  right: size('small');
  bottom: size('2x');
  cursor: pointer;
}

.date-value-active input {
  border-bottom: 1px solid color('primary');
}

.active,
.active input {
  color: color('primary');
}
