@import '@accoutrement';

.date-value {
  display: inline-flex;
  width: 100%;
}

.date-value > * {
  flex: 1;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 8px;
  border: 1px solid color('primary-lighter');
  border-radius: 4px;
}

.wrapper > .icon {
  position: absolute;
  right: size('small');
  bottom: size('2x');
  cursor: pointer;
}

.wrapper > .pre-icon {
  margin-right: 8px;
}

.date-value-active input {
  border-bottom: 1px solid color('primary');
}

.active,
.active input {
  color: color('primary');
}

.custom-input {
  display: flex;
}

.custom-input input {
  border: none;
}
