@import '@accoutrement';

.simple {
  overflow: hidden;

  /* TODO: 16px is hard coded here. Remove when proper typography is applied. */
  --table-head-height: calc(16px + 2 * #{padding-top('table.th')});

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .table {
    z-index: 0;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    th {
      @include padding('table.th');

      position: sticky;
      top: var(--sticky-top-offset, 0);
      text-align: left;
      background-color: color('table.head');

      &.has-sub-columns {
        text-align: center;
      }
    }

    thead {
      @include border-bottom('table.tr');

      border-color: color('table.border');
    }

    td {
      @include padding('table.td');
      @include border-bottom('table.tr');

      background-color: color('table.body');
      border-color: color('table.border');
    }

    tr:hover {
      td {
        background-color: color('table.hover');
      }
    }
  }

  .fixed {
    position: sticky;
    left: var(--sticky-left-offset, 0);
    z-index: 1;
  }

  th.fixed {
    z-index: 2;
  }
}
