@import './helper';

$named-sizes: (
  full: 100%,
  three-quarters: 75%,
  two-thirds: 66.6666%,
  half: 50%,
  one-third: 33.3333%,
  one-quarter: 25%,
  one-fifth: 20%,
  two-fifth: 40%,
  three-fifth: 60%,
  four-fifth: 80%,
);
// -- Column --
.column {
  box-sizing: border-box;
  display: block;
  flex: 1 1 var(--column-width, #{percentage(1 / 12)});
  padding-right: var(--column-inset);
  padding-bottom: var(--column-gap);
  padding-left: var(--column-inset);

  &.narrow {
    flex: none;
  }

  @each $name, $value in $named-sizes {
    &.is-#{$name} {
      --column-width: #{$value};

      flex: none;
      width: var(--column-width);
    }

    max-width: var(--column-width, 100%);
    &.offset-#{$name} {
      margin-left: $value;
    }
    &.offset-right-#{$name} {
      margin-right: $value;
    }
  }

  @for $i from 1 through 12 {
    &.is-#{$i} {
      --column-width: #{percentage($i / 12)};

      flex: none;
      width: var(--column-width);
    }

    &.offset-#{$i} {
      margin-left: percentage($i / 12);
    }

    &.offset-right-#{$i} {
      margin-right: percentage($i / 12);
    }
  }
}
