@import '@accoutrement';

.job {
  @include margin-bottom('medium');

  background-color: color('white');
}

.date {
  @include margin('job-tracker.group');

  font-weight: bolder;
  color: text-color('dark');
}
