@mixin mixin-input-component($border-type) {
  padding: padding('input');
  font-size: inherit;
  color: text-color('input.text');
  background-color: transparent;
  #{$border-type}: 1px solid color('input.border');
  border-radius: 4px;

  @if $border-type == 'border' {
    border-radius: 4px;
  } @else {
    border-radius: 0;
  }

  &::placeholder {
    /*
    Do we need to change placeholder color ?
    */
    color: color('text-dark-medium-emphasis');
  }

  &:not(:placeholder-shown) {
    border: none;
    #{$border-type}: 1px solid color('input.filled');
  }

  &:hover {
    border: none;
    #{$border-type}: 1px solid color('input.hover');
  }
  &:focus {
    border: none;
    outline: none;
    #{$border-type}: 1px solid color('input.focused');
  }

  &:disabled,
  &[disabled] {
    color: color('input.disabled');
    border: none;
    #{$border-type}: 1px solid color('input.disabled');
  }
}

@mixin mixin-input-label-component {
  &.disabled {
    color: color('text-dark-disabled');
  }
}
