@mixin mixin-input-component() {
  padding: padding('input');
  font-size: inherit;
  color: text-color('dark');
  background-color: transparent;
  border: none;
  border-bottom: 1px solid color('gray-dark');

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: color('text-dark-medium-emphasis');
  }

  &:disabled,
  &[disabled] {
    color: color('text-dark-disabled');
    border-bottom: 1px solid color('input.disabled');
  }

  &:not(:read-only) {
    &:focus {
      border-bottom: 1px solid color('input.focused');
    }
    &:hover {
      border-bottom: 1px solid color('input.hover');
    }
  }
}

@mixin mixin-input-component-bordered($padding: padding('input.select')) {
  padding: $padding;
  font-size: inherit;
  color: text-color('input.text');
  background-color: transparent;
  border: 1px solid color('input.border');
  &:not(:placeholder-shown) {
    border: 1px solid color('input.filled');
  }

  border-radius: 4px;
  &::placeholder {
    /*
    Do we need to change placeholder color ?
    */
    color: color('text-dark-medium-emphasis');
  }

  &:hover {
    border: 1px solid color('input.hover');
  }
  &:focus {
    outline: none;
  }

  &:disabled,
  &[disabled] {
    color: color('input.disabled');
    border: 1px solid color('input.disabled');
  }
  &:not(:read-only) {
    &:hover {
      border: 1px solid color('input.hover');
    }
    &:focus {
      border: 1px solid color('input.focused');
    }

    outline: none;
  }
}

@mixin mixin-input-text-revamp($border-type, $padding) {
  padding: $padding;
  font-size: inherit;
  color: text-color('dark');
  background-color: transparent;
  #{$border-type}: 1px solid color('input.border');

  @if not($border-type == 'border-bottom') {
    border-radius: 4px;
  }
  &.filled {
    #{$border-type}: 1px solid color('input.filled');
  }
  &:hover {
    #{$border-type}: 1px solid color('input.hover');
  }
  &:focus-within {
    #{$border-type}: 1px solid color('input.focused');
  }
  &.disable {
    #{$border-type}: 1px solid color('input.disabled');
  }
  &.disable > * {
    color: color('input.disabled');
  }
}

@mixin mixin-input-label-component {
  &.disabled {
    color: color('text-dark-disabled');
  }
}
