@import '@accoutrement';
@import 'input';

.input {
  @include mixin-input-component-bordered();
  &[type='search'] {
    padding-right: 0.125em;
  }

  width: 100%;
  padding: padding('input.bordered');

  &.with-icon {
    padding: padding('input.with-icon');
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  &.with-adornment {
    input {
      padding: 0;
      border: 0;
    }
  }
  .icon {
    position: absolute;
    top: 0.4em;
  }

  .input-adornment {
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    max-height: 2em;
    color: text-color('input.text');
    white-space: nowrap;

    &--start {
      margin-right: size('2x');
    }

    &--end {
      margin-left: size('2x');
    }
  }

  .underline {
    border: none;

    @include mixin-input-component();
  }
  .error,
  .error.underline {
    border-color: color('input.error');
  }
}
