@import '@accoutrement';

.month-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;

  .month {
    flex: 1 33.333333%;
    padding: 1em;
    margin: 0.5em 0;
    text-align: center;
    cursor: pointer;
    border-radius: size('1x');
  }

  .selected {
    color: color('text-light');
    background: color('primary');
  }

  .month:not(.selected):hover {
    color: color('primary');
  }

  .month-number {
    font-size: 1.25em;
    font-weight: 400;
  }
}
