@import '@accoutrement';

.year-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5em;

  .year {
    padding: 0.5em;
    margin: 0.25em 1em;
    text-align: center;
    cursor: pointer;
    border-radius: size('1x');
  }

  .selected {
    color: color('text-light');
    background: color('primary');
  }

  .year:not(.selected):hover {
    color: color('primary');
  }
}
