@import '@accoutrement';

.pagination {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  > *:not(:last-child) {
    margin-right: size('0x');
  }

  &-select-size-wrapper {
    width: 120px;
  }

  &-page-input-wrapper {
    width: size('8x');
  }

  &-page-input-wrapper input {
    width: 32px;
    height: 32px;
    padding-left: 5px;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
  }
}

.pages {
  &-container {
    display: flex;
    list-style-type: none;
    padding: 0 6px;
  }

  &-item {
    margin-left: 0 !important;

    &-skip-pages {
      width: size('3x');
      cursor: pointer;
    }
  }

  &-icon {
    color: color('primary');
    cursor: pointer;

    &-disabled {
      cursor: not-allowed;
    }
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}