@import '@accoutrement';

.pagination {
  display: inline-block;
}

.size {
  display: inline-block;
  margin-right: size('3x');
}

.page-size {
  position: relative;
  display: inline-block;
  padding: 0 size('1x') 0 0;
  margin: 0 size('2x');
}

.page-size > select,
.pagination > select {
  display: inline-block;
  padding: 0 0.625em 0 0.375em;
  font-size: 1em;
  color: color('text-dark');
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select-chevron-down {
  position: absolute;
  top: 6px;
  right: 2px;
  display: inline-block;
  width: 0;
  pointer-events: none;
  cursor: pointer;
  content: '';
  border-color: rgba(0, 0, 0, 0.54) transparent;
  border-style: solid;
  border-width: 6px 5px 0 5px;
}

.size-label {
  display: inline-block;
  margin-right: size('2x');
}

.select-page {
  padding: 0;
  text-align-last: center;
}

.pagination-arrow {
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.arrow-container {
  display: inline-block;
  padding: 0.25em;
}
