@import '@accoutrement';

.pagination {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  > *:not(:last-child) {
    margin-right: size('8x');
  }

  &-select-size-wrapper {
    width: 120px;
  }

  &-page-input-wrapper {
    width: size('8x');
  }

  &-page-input-wrapper input {
    background-color: transparent;
  }
}

.pages {
  &-container {
    display: flex;
    list-style-type: none;
  }

  &-item {
    margin-left: 0 !important;

    &-skip-pages {
      width: size('3x');
      cursor: pointer;
    }
  }

  &-icon {
    color: color('primary');
    cursor: pointer;

    &-disabled {
      cursor: not-allowed;
    }
  }
}
