@import '@accoutrement';

.day {
  --day-size: 2.5rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--day-size);
  height: var(--day-size);
  margin: 1px 0;
  font-size: 14px;
  user-select: none;
  border-radius: 4px;
  transition: all 250ms;

  &.focused {
    background-color: color('primary-lightest');
  }

  &.selected {
    color: color('primary');
    background-color: color('primary-light-new');
    border-radius: 0;
  }

  &.today {
    font-weight: bold;
    color: color('primary');
    border: 1px solid;
    border-color: color('primary');
    border-radius: 4px;
  }

  &.selected.today {
    color: #fff;
  }

  &.selected.start {
    color: #fff;
    background-color: color('primary');
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &.selected.end {
    color: #fff;
    background-color: color('primary');
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &.disabled {
    color: color('text-dark-disabled');
    cursor: not-allowed;
  }

  &.selected.disabled {
    background-color: color('gray-dark');
  }

  &.empty,
  &.empty.disabled {
    color: transparent;
    background: none;
  }
}
