@import '@accoutrement';

.jumper {
  display: flex;
  align-items: center;
  justify-content: center;

  .select {
    display: inline-block;
  }

  .select + .select {
    margin-left: 0.125rem;
  }

  .select > select {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    padding: 0;
    margin: size('3x') 0;
    font-size: font-size('caption');
    color: color('text-dark');
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
  }

  .next,
  .prev {
    padding: size('2x');
    cursor: pointer;
  }

  .placeholder {
    width: 1em;
  }

  .prev {
    margin-right: auto;
  }

  .next {
    margin-left: auto;
  }
}
