@import '@accoutrement';

$cell-height: 36px;
$cell-width: 36px;

.month {
  display: inline-block;
  padding: size('2x');
  background-color: color('white');
}

.month + .month {
  margin-left: 0.125rem;
}

.days {
  display: flex;
  flex-flow: wrap;
  width: 7 * $cell-width;
  cursor: pointer;
}

.days > * {
  flex: 0 0 $cell-width;
}

.day-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $cell-width;
  height: $cell-height;
  font-size: font-size('small');
  color: color('text-dark-medium-emphasis');
  user-select: none;
}

.picker-text {
  flex-basis: 33.3333%;
  padding: size('2x') 0;
  margin: size('1x') 0;
  text-align: center;
  cursor: pointer;
  border-radius: size('1x');
}

.picker-text:hover {
  background-color: hsla(240, 50%, 95%, 1);
}

.picker-text.current {
  font-weight: 700;
  color: color('primary');
  border: 1px solid color('primary');
}

.picker-text.active {
  color: hsla(0, 0%, 98%, 0.9);
  background-color: color('primary');
}

.month-picker-container,
.year-picker-container {
  display: flex;
  flex-wrap: wrap;
  width: 192px;
}
