@import '@accoutrement';

.month {
  display: inline-block;
  padding: size('small') size('4x');
  background-color: color('white');
}

.month + .month {
  margin-left: 0.125rem;
}

.days {
  display: flex;
  flex-flow: wrap;
  width: 17.5rem; /* 7 * width of day */
  height: 16.5rem; /* 6 * height of day (including margin) */
  cursor: pointer;
}

.days > * {
  flex: 0 0 2.5rem;
}

/* If month has 4 effective weeks. (Month of Feb starting on Sunday with 28 days.) */
.days > :nth-of-type(28):last-child {
  margin-bottom: 5.5rem;
}

/* If month has 5 effective weeks. (Any month with 30/31 days starting in first half of week.) */
.days > :nth-of-type(35):last-child {
  margin-bottom: 2.75rem;
}

.day-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  font-size: font-size('caption');
  color: color('text-dark-medium-emphasis');
  user-select: none;
}
