@import '@accoutrement';

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include typography('caption-revamp');
}

.required {
  padding-left: 2px;
  color: color('input.error');
}

.meta {
  height: 1.5em;
  margin-top: margin-top('small');
  margin-bottom: negative(margin-bottom('field') - 1);
  overflow: hidden;
}

.meta:hover {
  overflow: visible;
}

.meta > * {
  padding-left: 8px;
  color: color('text-dark-medium-emphasis'); // TODO: Change to mid-emphasis.

  @include typography('caption-revamp-light');
}

.meta > [role='alert'] {
  color: color('input.error');
}

.container {
  @include margin-bottom('field');
  &.disabled {
    color: color('input.disabled');
    .meta > * {
      color: color('input.disabled');
    }
    .meta > [role='alert'] {
      color: color('input.error');
    }
  }
}
.error {
  color: color('input.error');
}
.success {
  color: color('success-base-new');
}
.icon {
  color: color('primary-base-new');
}
