@import '@accoutrement';

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: size('0') size('1x');

  @include typography('caption-revamp');
  color: #3D4152;
}

.required {
  padding-left: 2px;
  color: color('input.error');
}

.meta {
  height: 1.5em;
  margin-top: margin-top('small');
  margin-bottom: negative(margin-bottom('field') - 1);
  overflow: hidden;

  &-icon {
    padding-right: 4px;
    margin-top: 1px;
  }
}

.meta:hover {
  overflow: visible;
}

.meta > * {
  padding-left: 8px;
  color: color('text-dark-medium-emphasis'); // TODO: Change to mid-emphasis.

  @include typography('caption-revamp-light');
  font-weight: 200;
}

.meta > [role='alert'] {
  color: color('input.error');
}

.container {
  @include margin-bottom('field');
  &.disabled {
    color: color('input.disabled');
    .meta > * {
      color: color('input.disabled');
    }
    .meta > [role='alert'] {
      color: color('input.error');
    }
  }
}
.error {
  color: color('input.error');
}
.success {
  color: color('success-base-new-1');
}
.icon {
  color: color('primary-base-new');
}
