@import '@accoutrement';

.circle {
  position: relative;
  width: var(--u-progress-size, 24px);
  height: var(--u-progress-size, 24px);

  &.default {
    --u-progress-size: 24px;
  }

  &.small {
    --u-progress-size: 16px;
  }

  &.medium {
    --u-progress-size: 32px;
  }

  &.large {
    --u-progress-size: 144px;
  }

  .base {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
  }

  .filled {
    fill: none;
    stroke: var(--u-progress-color);
    animation: dash 0.35s linear forwards;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  > *:not(.filled) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .value {
    font-size: size('2x');
  }
}

.info {
  --u-progress-color: #{color('primary')};
}

.success {
  --u-progress-color: #{color('success')};
}

.warning {
  --u-progress-color: #{color('warning')};
}

.danger {
  --u-progress-color: #{color('danger')};
}
