$times: (
  'fast': 150ms,
  'comfortable': 300ms,
);

$easing: (
  'exponential': cubic-bezier(0.19, 1, 0.22, 1),
);

$changes: (
  'background': background-color time('fast') ease('exponential'),
  'width': width time('fast') ease('exponential'),
  'border': border time('fast') ease('exponential'),
  'color': color time('fast') ease('exponential'),
  'all': all time('fast') ease('exponential'),
  'fab': all time('comfortable'),
  'button': '#all',
  'nav-bar': '#width',
  'checkbox': (
    '#border',
    '#color',
  ),
);
