$borders: (
  'default': 1px solid,
  'keyboard-focus': 1px dashed color('primary'),
  'banner': '#default',
  'button': '#default',
  'table': '#default',
  'table.tr': '#default',
  'nav-bar': '#default',
  'top-bar': '#nav-bar',
  'tab.pane': '#default',
  'error': 1px solid color('danger-base-new'),
  'input-default': 1px solid color('input.border'),
  'disabled': 1px solid color('input.disabled'),
  'focused': 1px solid color('input.focused'),
  'filled': 1px solid color('input.filled'),
  'hovered': 1px solid color('input.hovered'),
);

$-tokens-borders: () !default;

$borders: map-merge($borders, $-tokens-borders);
