// - Solid Colors
// https://zpl.io/a8w1k0d
$-tokens-colors-primary: hsl(244, 54, 53) !default;
$-tokens-colors-success: hsl(138, 53, 53) !default;
$-tokens-colors-warning: hsl(40, 87, 53) !default;
$-tokens-colors-danger: hsl(0, 54, 53) !default;
$-tokens-colors-gray: hsl(0, 0, 90) !default;
$-tokens-colors-brown: hsl(26, 40, 54) !default;

$brand-colors: (
  'primary': $-tokens-colors-primary,
  'success': $-tokens-colors-success,
  'warning': $-tokens-colors-warning,
  'danger': $-tokens-colors-danger,
  'gray': $-tokens-colors-gray,
  'brown': $-tokens-colors-brown,
);

$base-colors: (
  'black': #000,
  'white': #fff,
);

$colors: (
  'disabled': '#gray-light',
  'button.disabled': '#disabled',
  'table.head': '#gray-lighter',
  'table.body': '#white',
  'table.hover': '#gray-lighter',
  'table.border': '#gray-light',
  'nav-bar.background': '#gray-lighter',
  'nav-bar.background:focus': '#gray-light',
  'nav-bar.item.background:active': '#primary-lighter',
  'nav-bar.item.text:active': $-tokens-colors-primary,
  'nav-bar.border': '#gray-light',
  'top-bar.background': '#nav-bar.background',
  'top-bar.border': '#nav-bar.border',
  'page.background': '#gray-light',
  'tab.border': '#gray-light',
);
$-tokens-colors: () !default;

@include add-colors($base-colors);
@include add-colors($brand-colors);
@include add-colors(uikit-shades-of($brand-colors));
@include add-colors($-tokens-colors);

// - Text Colors

$-tokens-text-colors-dark: #000 !default;
$-tokens-text-colors-light: #fff !default;

$text-colors: (
  'dark': $-tokens-text-colors-dark,
  'light': $-tokens-text-colors-light,
);

@include add-colors(uikit-text-variants-of($text-colors));
@include add-colors(uikit-text-variants-of($brand-colors));
