// - Solid Colors
// https://zpl.io/a8w1k0d
$-tokens-colors-primary: hsla(252, 63%, 51%, 1) !default;
$-tokens-colors-info: hsla(216, 100%, 43%, 1) !default;
$-tokens-colors-success: hsla(155, 65%, 38%, 1) !default;
$-tokens-colors-warning: hsla(30, 93%, 44%, 1) !default;
$-tokens-colors-danger: hsla(7, 76%, 55%, 1) !default;
$-tokens-colors-tiering: hsla(38, 48%, 51%, 1) !default;
$-tokens-colors-background: hsla(229, 21%, 19%, 1) !default;
$-tokens-colors-gray: hsl(0, 0%, 90%) !default;
$-tokens-colors-brown: hsl(26, 40%, 54%) !default;
$-tokens-colors-pink: hsl(346, 100%, 62%) !default;
$-tokens-colors-warning-no-fill: hsla(40, 59%, 48%, 1) !default;

// Revamp colors

$brand-colors: (
  'primary': $-tokens-colors-primary,
  'info': $-tokens-colors-info,
  'success': $-tokens-colors-success,
  'warning': $-tokens-colors-warning,
  'danger': $-tokens-colors-danger,
  'gray': $-tokens-colors-gray,
  'brown': $-tokens-colors-brown,
  'pink': $-tokens-colors-pink,
  'tiering': $-tokens-colors-tiering,
  'background': $-tokens-colors-background,
);

$base-colors: (
  'black': #000,
  'white': #fff,
);
$token-colors-revamp: (
  'success-10': #dffcf0,
  'success-20': #baf3db,
  'success-40': #7ee2b8,
  'success-60': #4bce97,
  'success-80': #2abb7f,
  'success-140': #1f845a,
  'success-180': #216e4e,
  'success-200': #164b35,
  'danger-10': #fcedeb,
  'danger-20': #f9dbd7,
  'danger-40': #f4b6ae,
  'danger-60': #ee9286,
  'danger-80': #e96d5d,
  'danger-140': #b63a2a,
  'danger-180': #882c20,
  'danger-200': #5b1d15,
  'warning-10': #fff4e5,
  'warning-20': #ffe2bd,
  'warning-40': #fec57b,
  'warning-60': #faa53d,
  'warning-80': #f18d13,
  'warning-140': #b65c02,
  'warning-180': #974f0c,
  'warning-200': #5f3811,
  'primary-10': #f0ecff,
  'primary-20': #e0d9ff,
  'primary-40': #c1b2ff,
  'primary-60': #a28cff,
  'primary-80': #8465ff,
  'primary-140': #4228a6,
  'primary-180': #311e7d,
  'primary-200': #211453,
  'info-10': #e5eefb,
  'info-20': #ccddf7,
  'info-40': #99bcf0,
  'info-60': #669ae8,
  'info-80': #3379e1,
  'info-140': #0046ae,
  'info-180': #003482,
  'info-200': #002357,
  'tiering-10': #f8f4ec,
  'tiering-20': #ebdec7,
  'tiering-40': #dec9a3,
  'tiering-60': #d1b37e,
  'tiering-80': #c49d59,
  'tiering-140': #af8846,
  'tiering-180': #917444,
  'tiering-200': #735f43,
  'background-10': #f4f4f5,
  'background-20': #e9e9eb,
  'background-30': #d4d5d8,
  'background-40': #bebfc5,
  'background-50': #93959e,
  'background-60': #686b77,
  'background-70': #3d4152,
  'background-90': #171a27,
  'primary-light-new': #cac8ee,
  'gray-base-new': #cfcfd1,
  'gray-base-new-1': #86878b,
  'danger-base-new': #c84646,
  'success-base-new': #239d56,
  'primary-base-new': #4f47c8,
  'gray-base-new-2': #bababc,
  'gray-base-new-3': #3e3f45,
  'gray-base-new-4': #8f8f92,
  'gray-base-new-5': #0e0f17,
  'gray-base-new-6': #f3f3f3,
  'gray-dark-base': #56575d,
  'gray-dark-base-2': #3e3f45,
  'primary-base-light': #ededf9,
  'primary-base-light-2': #e7e7e8,
  'primary-dark-2': #3f39a0,
  'primary-dark-3': #2f2b78,
  'success-base-light': #e9f5ee,
  'info-base-light': #e2edff,
  'info': #0951bd,
  'warning-base-light': #fef8ec,
  'danger-base-light': #f9ecec,
  'danger-base-dark': #eec7c7,
  'danger-new': #a03838,
  'danger-dark-1': #fff,
  'gray-dark-new': #8f8f92,
  'success-base-dark': #bde2cc,
);

$colors: (
  'disabled': '#gray-light',
  'button.disabled': '#gray-base-new',
  'table.head': '#gray-lighter',
  'table.active': '#primary-lighter',
  'table.body': '#white',
  'table.hover': '#primary-lightest',
  'table.border': '#gray-light',
  'nav-bar.background': '#gray-lighter',
  'nav-bar.background:focus': '#gray-light',
  'nav-bar.item.background:active': '#primary-lighter',
  'nav-bar.item.text:active': $-tokens-colors-primary,
  'nav-bar.border': '#gray-light',
  'nav-bar.text': #000,
  'top-bar.background': '#nav-bar.background',
  'top-bar.border': '#nav-bar.border',
  'page.background': '#gray-light',
  'tab.border': '#gray-light',
  'input.hover': '#primary-light-new',
  'input.focused': '#primary-base-new',
  'input.active': '#primary-base-new',
  'input.disabled': '#gray-base-new',
  'input.error': '#danger-base-new',
  'input.border': '#gray-base-new',
  'input.filled': '#gray-base-new-1',
  'input.text': '#gray-base-new-5',
  'input.placeholder': '#gray-base-new-2',
  'warning-no-fill': $-tokens-colors-warning-no-fill,
);
$-tokens-colors: () !default;

@include add-colors($token-colors-revamp);
@include add-colors($base-colors);
@include add-colors($brand-colors);
@include add-colors(uikit-shades-of($brand-colors));
@include add-colors($-tokens-colors);

// - Text Colors

$-tokens-text-colors-dark: #000 !default;
$-tokens-text-colors-light: #fff !default;
$-tokens-text-colors-dark-new: #0e0f17 !default;
$token-text-colors-warning-new: #624a19 !default;

$text-colors: (
  'dark': $-tokens-text-colors-dark,
  'light': $-tokens-text-colors-light,
  'input.text': $-tokens-text-colors-dark-new,
  'warning-text': $token-text-colors-warning-new,
);

@include add-colors(uikit-text-variants-of($text-colors));
@include add-colors(uikit-text-variants-of($brand-colors));
