@import '@accoutrement';

.avatar {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  color: currentColor;
  border: 1px solid currentColor;
  border-radius: 100%;

  &.small {
    font-size: font-size('root');
  }

  &.medium {
    font-size: font-size('root') * 2;
  }

  &.large {
    font-size: font-size('root') * 4;
  }

  text {
    fill: currentColor;
  }
}
