@import '@accoutrement';

.group {
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  .group {
    @include margin-left('nav-bar.group');
  }

  .group-container {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    align-items: center;
  }

  .group-title {
    flex: 1;
    text-transform: capitalize;
    white-space: nowrap;
  }

  .group-expand {
    @include margin-left('medium');

    width: size('#6x');
    font-size: 0.75rem; // size of chevron for expand.
  }
}
