@import '@accoutrement';

.nav {
  @include z-index('nav-bar');
  @include transition('nav-bar');
  @include border-right('nav-bar');

  box-sizing: border-box;
  width: size('nav-bar.min-width');
  height: 100%;
  overflow: hidden;
  color: color('nav-bar.text');
  background-color: color('nav-bar.background');
  border-color: color('nav-bar.border');

  .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: none;
    background: rgba(0, 0, 0, 0.54);
  }

  &.is-open {
    @include shadow('nav-bar');

    width: size('nav-bar.max-width');
    overflow-y: auto;

    .backdrop {
      display: block;
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include outline('nav-bar');
  }

  .header {
    @include border-bottom('nav-bar');

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: size('nav-bar.max-width');
    height: 56px;
    padding: 0.75rem 1rem;
    overflow: hidden;
    white-space: nowrap;
    background-color: color('nav-bar.background');
    border-color: color('nav-bar.border');

    @include typography('h3');

    img {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin-right: 0.75rem;
      object-fit: contain;
    }

    .hamburger {
      @include padding('small');
      @include margin-right('large');

      box-sizing: content-box;
      width: size('nav-bar.icon');
      height: size('nav-bar.icon');
      font-size: size('nav-bar.icon');
    }
  }

  .body {
    @include padding('nav-bar.body');

    box-sizing: border-box;
  }
}

@include media-breakpoint-up('sm') {
  .nav {
    &:hover {
      @include shadow('nav-bar');

      width: size('nav-bar.max-width');
      overflow-y: auto;
    }
  }
}

@include media-breakpoint-down('sm') {
  .nav {
    border: none;
    .body {
      display: none;
    }

    .header {
      color: color('white');
      background-color: color('primary');
      border-color: color('primary');
    }

    &.is-open {
      height: 100vh;
      .body {
        display: block;
      }
    }
  }
}
