.quick-link {
  height: 100%;

  &-icon-button {
    width: 72px;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid transparent;

    &:hover {
      color: #4f47c8;
      background-color: #ededf9;
      border-bottom: 2px solid #4f47c8;
    }

    &-active {
      background-color: #fff;
      border-bottom: 2px solid #4f47c8;
    }
  }

  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    border: none;

    &-section {
      position: fixed;
      top: 54px;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 101;
      background-color: #000;
      opacity: 0.54;
    }
  }

  &-hover-container {
    position: absolute;
    right: 0%;
    z-index: 1000;
    min-width: 200px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
  }
}
