@import '@accoutrement';

.quick-link {
  height: 100%;

  &-icon-button {
    width: 44px;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid transparent;

    &:hover {
      color: color('primary');
      background-color: color('primary-light-new-2');
      border-bottom: 2px solid color('primary');
    }

    &-active {
      color: color('primary');
      background-color: color('primary-light-new-2');
      border-bottom: 2px solid color('primary');
    }
  }

  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    border: none;

    &-section {
      position: fixed;
      top: 54px;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 101;
      background-color: color('black');
      opacity: 0.54;
    }
  }

  &-hover-container {
    position: absolute;
    right: 0%;
    z-index: 1000;
    min-width: 200px;
    background-color: color('white');
    border-radius: size('1x');
    box-shadow: 0 size('2x') size('3x') rgba(0, 0, 0, 0.25);
  }
}
