@import '@accoutrement';

.top-nav {
  width: 100vw;
  height: 100vh;

  &-header {
    height: 54px;
    padding: 0 0 0 size('6x');
    background-color: color('white');

    &-logo {
      margin-right: size('6x');
      cursor: pointer;
    }

    &-content-container {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      width: 100%;
    }
  }

  &-page-content {
    height: calc(100% - 54px);
    padding: size('3x') size('4x');
    background: #f3f5f7;

    &-sidebar {
      min-width: 275px;
      max-width: 275px;
      max-height: 100%;
      padding: size('2x');
      overflow-y: scroll;
      background-color: color('white');
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-view {
      width: 100%;
      height: 100%;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
