.top-nav-button {
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #56575d;
  background-color: #fff;
  border: 0;
  border-bottom: 2px solid transparent;

  &:hover {
    cursor: pointer;
    background-color: #ededf9;
    border-bottom: 2px solid #4f47c8;
  }

  &-active {
    color: #4f47c8;
    border-bottom: 2px solid #4f47c8;
  }

  &-icon {
    align-self: center;
    width: 20px;
    padding-right: 8px;
  }
}
