@import '@accoutrement';

.top-nav {
  width: 100vw;
  height: 100vh;

  &-header {
    padding: 0 size('7x');
    background-color: color('white');

    &-logo {
      min-width: 65px;
      margin-right: size('6x');
      cursor: pointer;
    }

    &-content-container {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      width: 100%;
    }
  }

  &-page-content {
    height: 100%;
    padding: size('3x') size('4x');
    background: color('gray-base-new-3');

    &-sidebar {
      width: 468px;
      padding: size('2x');
      background-color: color('white');
    }
    &-view {
      width: 100%;
    }
  }
}
