@import '@accoutrement';

.hover-item {
  position: absolute;
  z-index: 1;
  padding: size('8x') size('6x');
  background-color: color('white');
  box-shadow: 0 size('2x') size('3x') rgba(0, 0, 0, 0.25);

  &-menu {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    text-align: left;

    &-title {
      margin: 0 0 size('2x') 0;
      font-size: size('4x');
      font-weight: 300;
      line-height: size('6x');
      color: color('dark-gray-base-2');
    }

    &-hr {
      width: 100%;
      height: 0;
      margin: 0 0 size('4x') 0;
      background-color: rgba(18, 19, 25, 0.7);
      border: 1px solid color('gray');
    }

    &-link {
      padding: 4px 8px;
      margin: 4px 0;
      font-size: 14px;
      line-height: 20px;
      color: #56575d;
      text-align: left;
      cursor: pointer;
      background-color: transparent;
      border: none;

      &:hover {
        background-color: #ededf9;
      }
    }
  }

  &-direct {
    min-width: 200px;
    &-link {
      padding: 4px 8px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #0e0f17;
      text-align: left;
      background-color: transparent;
      border: 0;

      &:hover {
        background-color: #ededf9;
      }
    }
  }
}
