.hover-item {
  &-container {
    position: absolute;
    z-index: 1;
    width: fit-content;
    padding: 24px;
    background-color: #fff;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
  }

  &-link {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #0e0f17;
    cursor: pointer;
    background-color: transparent;
  }

  &.hover-item-menu {
    .hover-item-link {
      margin: 8px 0;
      font-weight: 400;
    }
  }

  &-menu-title {
    margin: 8px 0;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: rgba(18, 19, 25, 0.7);
  }

  &-menu-hr {
    width: 200px;
    height: 0;
    margin-top: 0;
    margin-bottom: 8px;
    background-color: rgba(18, 19, 25, 0.7);
    border: 1px solid #b8b8b8;
  }
}
