.hover-item {
  position: absolute;
  z-index: 1;
  padding: 32px 24px;
  background-color: #fff;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);

  &-menu {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    text-align: left;

    &-title {
      margin: 0 0 8px 0;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: #3e3f45;
    }

    &-hr {
      width: 100%;
      height: 0;
      margin: 0 0 16px 0;
      background-color: rgba(18, 19, 25, 0.7);
      border: 1px solid #b8b8b8;
    }

    &-link {
      margin: 0 0 16px 0;
      font-size: 14px;
      line-height: 20px;
      color: #56575d;
      text-align: left;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
  }

  &-direct {
    min-width: 200px;
    &-link {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #0e0f17;
      background-color: transparent;
      border: 0;
    }
  }
}
