@import '@accoutrement';

.sidebar-menu {
  width: 100%;
  padding: 10px 16px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: color('dark-gray-base');
  cursor: pointer;
  background-color: transparent;
  border: none;

  &-sub-item {
    padding: 10px 15px 10px 45px;
    text-align: left;
  }

  &-active {
    font-weight: 600;
    color: color('primary');
  }

  &-dropdown-icon {
    align-self: center;
  }

  &:hover {
    background: color('primary-light-new-2');
    border-radius: 20px;
  }
}
