@import '@accoutrement';

/* Hide number spinner box on Firefox & Edge. */
.input:not(:focus) {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

/* Hide number spinner box on Chrome & Safari. */
.input::-webkit-inner-spin-button:not(:focus),
.input::-webkit-outer-spin-button:not(:focus) {
  visibility: hidden;
}

