@import '@accoutrement';

.container {
  flex: 1 1 100%;

  @include padding('container');

  background-color: color('white');
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: size('large');
}

.title {
  margin: 0;

  @include typography('h2');
}

.content {
  // Keep the selector!
  margin: 0;

  @include typography('body');

  :global(.u-table-simple),
  :global(.u-table-virtual) {
    // margin-right: negative(padding-right('container'));
    margin-right: negative(size('6x'));
    // margin-left: negative(padding-left('container'));
    margin-left: negative(size('6x'));
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.noPadding {
  padding-right: 0;
  padding-left: 0;
}
