@import '@accoutrement';

.pages {
  ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding: size('0.5x') size('1x') size('0.5x') size('1x');
    font-size: font-size('small');
    font-weight: 500;
    background-color: transparent;
    border-radius: radius('breadcrumb');

    &:hover {
      color: color('primary-140');
      background-color: color('primary-10');
    }

    &:focus {
      color: color('primary-180');
      background-color: color('primary-20');
    }
  }
}

.page {
  position: relative;

  @include margin-right('large');

  cursor: pointer;
}

.page,
.page a {
  color: color('primary');
  text-decoration: none;
}

.page:last-child,
.page:last-child a {
  color: color('background-50');
  pointer-events: none;
  background: none;
}

.page + .page::before {
  position: absolute;
  bottom: 0;
  left: -1em;
  display: inline-block;
  padding: size('0.5x');
  content: ' ';
  border-color: color('text-dark');
  border-style: solid;
  border-width: 0 1px 1px 0;
  opacity: 0.6;
  transform: translateY(-125%) rotate(-45deg);
}
