@import '@accoutrement';

.small-step {
  $self: &;

  display: flex;
  align-items: flex-start;
  width: 100%;

  min-width: size('3x') * 10;
  min-height: size('3x') * 10;


  &:first-child {
    #{ $self }__left-separator {
      flex: 1 1 100%;
    }
  }
  &:last-child {
    #{ $self }__right-separator {
      flex: 1 1 100%;
    }
  }
  &__tooltip {
    position: relative;
    z-index: 1;
    display: block !important;
    &:hover {
      #{ $self }__indicator {
        transform: translate(-50%, -50%) #{scale}(0.7);
      }
      #{ $self }__label {
        display: flex;
      }
    }
  }
  &__left-separator,
  &__right-separator {
    flex: 1 2 100%;
  }
  &__indicator {
    position: absolute;
    box-sizing: border-box;
    display: block;
    width: 20px;
    height: 20px;
    background: color('gray-dark');
    border-radius: 50%;
    box-shadow: shadow('stepper');
    transform: translate(-50%, -50%) #{scale }(0.5);
    transform-origin: center center;

    &--horizontal {
      top: -1px;
    }
    &--vertical {
      top: size('3x');
      left: -1px;
    }
  }
  &__label {
    display: none;
    min-width: 160px;
    padding: 0 size('3x');
    margin-bottom: size('4x');
    background: color('black');
    &::after {
      position: absolute;
      bottom: 0;
      left: 50px;
      content: '';
      border: size('2x') solid;
      border-color: color('black') transparent transparent transparent;
      transform: translate(-50%, 100%);
    }
    &--always-open {
      display: flex;
    }
    &--heading {
      margin-top: 0 !important;
    }
  }

  &--vertical {
    flex-direction: column;
    #{ $self }__label {
      bottom: 50%;
      left: size('3x') - (size('small') * 0.5);
      display: flex;
      margin-bottom: 0;
      background: transparent;
      &::after {
        content: none;
      }
    }
  }

  &--completed {
    #{ $self }__indicator {
      background: color('primary');
    }
  }
  &--error {
    #{ $self }__indicator {
      background: color('danger');
    }
  }
}
