@import '@accoutrement';

.step {
  $self: &;

  position: relative;
  flex: 1 1 0;

  &__indicator {
    position: relative;
    z-index: 1;
    flex-grow: 0;
    flex-shrink: 0;
    width: size('5x');
    height: size('5x');
    &::before {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: color('white');
      border-radius: 50%;
      box-shadow: shadow('stepper');
      transform-origin: center center;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: color('gray-dark');
      border: 1px solid color('gray-dark');
      border-radius: 50%;
      transform: scale(0.5);
      transform-origin: center center;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  &__label {
    position: absolute;
    &--horizontal {
      left: size('3x') - (size('small') / 2);
      padding-top: size('small');
      text-align: center;
      transform: translateX(-50%);
    }
    &--vertical {
      top: size('3x') - (size('small') / 2);
      left: 100%;
      min-width: size('3x') * 10;
      padding-left: size('small');
      transform: translateY(-50%);
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }
  &__half-complete {
    position: absolute;
    left: size('5x');
    width: 15%;
    height: size('1x') / 2;
    background: color('primary');
  }
  &__item {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    &--horizontal {
      flex-direction: row;
    }
    &--vertical {
      flex-direction: column;
      height: 100%;
      #{ $self }__half-complete {
        top: size('5x');
        left: 50%;
        width: size('1x') / 2;
        height: 15%;
        transform: translateX(-50%);
      }
    }
    &--active {
      #{ $self }__indicator {
        &::before,
        &::after {
          border-color: color('primary');
        }
        &::after {
          background: color('primary');
        }
      }
    }
    &--completed {
      #{ $self }__indicator {
        &::before,
        &::after {
          background: color('primary');
          border-color: color('primary');
        }
      }
    }
    &--error {
      #{ $self }__indicator {
        &::before,
        &::after {
          background: color('danger');
          border-color: color('danger');
        }
      }
    }
  }
  &--vertical {
    &:last-child {
      flex: 0;
    }
  }
}
