$text-color-white: #fff;
$text-color-black: #000;
$text-color-gray1: #3d4152;
$text-color-gray2: #686b77;
$text-color-gray3: #282c3f;
$text-color-gray4: #3d4152;
$text-color-gray5: #4a4a4a;
$text-color-purple: #4f47c8;

$text-color-primary-pink: #e93d67;
$text-color-primary: #0e0f17;

$primary-background: #ffebf0;
$footer-background: #282c3f;

$border-color-gray1: #d4d5d8;
$border-color-gray2: #cfcfd1;
$border-color-gray3: #e9e9eb;
$border-color-gray4: #dcdcdc;

$banner-background-color: #f4f4f5;
$table-header-background-color: #f9f9f8;
$table-row-border-color: #eee;
