$font-size-small: 1.2rem;
$font-size-normal: 1.6rem;
$font-size-semi-normal: 2rem;
$font-size-large: 2.4rem;
$font-size-xl: 3.2rem;
$font-size-xxl: 4rem;
$font-size-xxxl: 4.8rem;

$font-weight-normal: 400;
$font-weight-large: 500;
$font-weight-xl: 600;
$font-weight-xxl: 700;
$font-weight-xxxl: 800;
