@import '@accoutrement';

.text {
  font-family: font-family('body');
}

.alternate {
  font-family: font-family('alternate');
}

.current {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.title {
  @include typography('title');
}

.paragraph {
  @include typography('paragraph');
}

.table {
  @include typography('small');
}

.small {
  @include typography('small');
}

.caption {
  @include typography('caption');
}

.heading1 {
  @include typography('h1');
}

.heading2 {
  @include typography('h2');
}

.heading3 {
  @include typography('h3');
}

.heading4 {
  @include typography('h4');
}

.inherit {
  color: inherit;
}

.primary {
  color: color('primary');
}

.accent {
  color: color('primary');
}

.dark {
  color: color('gray-dark');
}

.dark.secondary {
  color: color('gray-base');
}

.dark.disabled {
  color: color('gray-text');
}

.light {
  color: color('gray-light');
}

.light.secondary {
  color: color('gray-light');
}

.light.disabled {
  color: color('gray-lighter');
}

.info {
  color: color('primary');
}

.success {
  color: color('green');
}

.warning {
  color: color('yellow');
}

.error {
  color: color('red');
}

.gray400 {
  color: text-color('gray-text');
}

.gray300 {
  color: text-color('gray-base');
}

.gray200 {
  color: text-color('gray-light');
}

.gray100 {
  color: text-color('gray-lighter');
}

.gray50 {
  color: text-color('gray-lightest');
}

.text900 {
  font-size: size('3x');
}

.text800 {
  font-size: size('2x');
}

.text700 {
  font-size: size('xx-large');
}

.text600 {
  font-size: size('x-large');
}

.text500 {
  font-size: size('large');
}

.text400 {
  font-size: size('base');
}

.text300 {
  font-size: size('small');
}

.text200 {
  font-size: size('small');
}

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

.thin {
  font-weight: 200;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.bolder {
  font-weight: bolder;
}

.lighter {
  font-weight: lighter;
}
