@import '@accoutrement';

.title {
  margin: 0;

  @include typography('title');
}

.h1 {
  @include typography('h1');
}

.h2 {
  @include typography('h2');
}

.h3 {
  @include typography('h3');
}

.h4 {
  @include typography('h4');
}

.body {
  @include typography('body');
}

.p {
  @include typography('paragraph');
}

.caption {
  @include typography('caption');
}

$-text-colors: (
  'primary': 'primary',
  'success': 'success',
  'warning': 'warning',
  'gray': 'gray',
  'error': 'danger',
  'dark': 'dark',
  'light': 'light',
);

@each $key, $value in $-text-colors {
  .#{$key} {
    &.high {
      color: text-color($value, 'high');
    }
    &.medium {
      color: text-color($value, 'medium');
    }
    &.disabled {
      color: text-color($value, 'disabled');
    }
  }
}

.bolder {
  font-weight: bolder;
}

.lighter {
  font-weight: lighter;
}

.no-gutter {
  margin: 0;
}

.display-inline {
  display: inline;
}

.display-block {
  display: block;
}
