.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.top {
  align-items: flex-start;
}

.middle {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.baseline {
  align-items: baseline;
}

.stretch {
  align-items: stretch;
}

.ac-start {
  align-content: flex-start;
}

.ac-center {
  align-content: center;
}

.ac-end {
  align-content: flex-end;
}

.ac-around {
  align-content: space-around;
}

.ac-between {
  align-content: space-between;
}

.ac-stretch {
  align-content: stretch;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: no-wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* flex items */
.item {
  &-start {
    align-self: flex-start;
  }

  &-end {
    align-self: flex-end;
  }

  &-center {
    align-self: flex-center;
  }

  &-baseline {
    align-self: baseline;
  }

  &-stretch {
    align-self: stretch;
  }
}

.equal {
  flex: 1;
}
