@import 'banner.module';

.actionable {
  @include padding('banner');
  @include z-index('notification');
  @include mixin-banner();

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: text-color('light');

  .header {
    margin-left: size('8x');
  }

  .contents-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-left: size('2x');
  }

  .feedback-contain {
    margin-left: size('5x');
  }

  .contents {
    position: absolute;
    top: 28%;
  }

  .entity-id {
    margin-top: negative(size('2x'));
  }

  .action-name {
    width: 70vw;
    padding-top: size('2x');
    margin-top: size('7x');
    border-top: 1px solid text-color('light');
  }

  .close {
    position: absolute;
    top: size('1x');
    right: size('3x');
    svg {
      width: size('5x');
      height: size('5x');
    }
  }

  // This will be replaced when new button is added
  .action {
    width: 100px;
    min-width: 100px;
    padding: size('3x');
    margin-top: size('5x');
    font-size: 16px;
    font-weight: 600;
    color: text-color('dark', 'medium');
    border: none;
    border-radius: size('1x');
  }

  .icon {
    width: size('7x');
    height: size('7x');
    margin-top: size('2x');
    transform: scale(1.5);
  }
}
