@import '@accoutrement';

$types: (
  'primary': 'primary',
  'success': 'success',
  'error': 'danger',
  'warning': 'warning',
);

@mixin mixin-banner {
  @each $name, $color in $types {
    &.#{$name} {
      background-color: color('#{$color}');
      border-color: color('#{$color}');
      &.no-fill {
        color: color('#{$color}');
        background-color: transparent;
      }
    }
  }
}

.container {
  @include padding('banner');
  @include border('banner');
  @include border-radius('banner');
  @include mixin-banner();

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: text-color('light');

  .content {
    flex: 1;
  }

  .icon {
    width: size('3x');
    height: size('3x');
    margin-right: padding-left('banner');
    transform: scale(1.5);
    transform-origin: 0 -2px;
  }

  .title {
    @include typography('h3');
  }

  .body {
    @include typography('body');

    margin-top: margin-top('banner.body');
  }

  .close {
    margin-top: negative(size('3x'));
    svg {
      width: size('5x');
      height: size('5x');
    }
  }
}
