@import '@accoutrement';

$types: (
  'info': 'info',
  'success': 'success',
  'error': 'danger',
  'warning': 'warning',
);

@mixin mixin-banner {
  @each $name, $color in $types {
    &.#{$name} {
      color: var(--bannerTextColor, #000);
      background-color: var(--bannerColor, color('#{$color}-10'));
      border-color: var(--bannerColor, color('#{$color}-10'));
    }
    .icon-#{$name} {
      width: size('3x');
      height: size('3x');
      margin-right: padding-left('banner');
      color: var(--bannerIconColor, color('#{$color}-140'));
      transform: #{scale }(1.5);
      transform-origin: 0 -2px;
    }
  }
}

.container {
  @include padding('banner');
  @include border('banner');
  @include border-radius('banner');
  @include mixin-banner();

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .content {
    flex: 1;
  }

  .title {
    @include typography('h3');
  }

  .body {
    @include typography('body');

    margin-top: margin-top('banner.body');
  }

  .fullBody {
    display: flex;
    gap: 8px;
    align-items: baseline;
  }

  .text-link {
    text-decoration: none;
  }

  .icon-link {
    margin-top: size('0.5x');
    font-size: 14px;
  }

  .close {
    margin-top: size('1x');
    svg {
      width: size('5x');
      height: size('5x');
    }
  }
}
