@import '@accoutrement';
@import '@myntra/uikit-component-input-text/style.scss';

.input {
  width: 100%;

  @include mixin-input-component();
}

.container {
  position: relative;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  color: color('text-dark-medium-emphasis');
  pointer-events: none;
  border-color: transparent;
  &.disabled {
    color: color('text-dark-disabled');
  }
}
