@import '@accoutrement';
@import '@applique-ui/input/style.scss';

.input {
  @include mixin-input-text-revamp(border, padding('input.text'));

  background-color: transparent;
  input {
    font-size: inherit;
  }
}

.container {
  position: relative;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  color: color('text-dark-medium-emphasis');
  pointer-events: none;
  border-color: transparent;
  &.disabled {
    color: color('text-dark-disabled');
  }

  &.with-icon {
    margin-left: calc(1em + size('1x'));
  }
}
