@import '@accoutrement';
@import '@myntra/uikit-component-input-text/style.scss';

.control {
  position: relative;
  display: flex;

  .icon {
    position: absolute;
    top: 50%;
    padding-left: 12px;
    opacity: 0.6;
    transform: translateY(-45%);

    &.active {
      opacity: 1;
    }
  }
}

.input {
  &.with-icon {
    padding: padding('input-select.with-icon');
  }
}
.outline {
  @include mixin-input-component-bordered();
}
.standard {
  padding: padding('input');
  border: none;

  @include mixin-input-component();
}

.buttons.no-offset {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.buttons {
  position: absolute;
  right: 13px;
  z-index: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
}

.button {
  display: inline-block;
  cursor: pointer;
}

.input.error,
.error.underline {
  border-color: color('input.error');
}

.input-adornment {
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 1.5em;
  margin-right: 8px;
  color: text-color('input.text');
}
.control-r {
  display: flex;
  align-items: center;
  &.standard-r {
    @include mixin-input-text-revamp(
      border-bottom,
      padding('input-text-standard')
    );
  }
  &.bordered-r {
    @include mixin-input-text-revamp(border, padding('input.select'));
  }

  .icon-r {
    z-index: 1;
    margin-right: size('2x');
    opacity: 0.6;

    &.active {
      opacity: 1;
    }
  }

  .input-adornment-r {
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100%;
    max-height: 1.5em;
    margin-right: 8px;
    color: text-color('input.text');
  }
  .input-container {
    position: relative;
    flex-grow: 1;
    input {
      padding: 0;
      border: 0;
      outline: none;
    }
  }
  .buttons-r {
    display: flex;
    align-items: center;
  }
}
