@import '@accoutrement';
@import '@applique-ui/input-text/style.scss';

.input {
  &.with-icon {
    padding: padding('input-select.with-icon');
  }
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
}

.button {
  display: inline-block;
  cursor: pointer;

  &:not(:first-child) {
    padding-right: size('1x');
  }
}

.input.error,
.error.underline {
  border-color: color('input.error');
}

.input-adornment {
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 1.5em;
  margin-right: 8px;
  color: text-color('input.text');
}
.control {
  display: flex;
  align-items: center;
  &.standard {
    @include mixin-input-text-revamp(
      border-bottom,
      padding('input-text-standard')
    );
  }
  &.bordered {
    @include mixin-input-text-revamp(border, padding('input.select'));
  }

  .icon {
    z-index: 1;
    margin-right: size('2x');
    opacity: 0.6;

    &.active {
      opacity: 1;
    }
  }

  .input-adornment {
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100%;
    max-height: 1.5em;
    margin-right: 8px;
    color: text-color('input.text');
  }
  .input-container {
    position: relative;
    flex-grow: 1;
    input {
      padding: 0;
      border: 0;
      outline: none;
      background-color: transparent;
    }
  }
  .buttons {
    display: flex;
    align-items: center;
  }
}
