@import '@accoutrement';

.value {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  color: text-color('input.text');
  text-overflow: ellipsis;
  white-space: nowrap;
}

.standard.input,
.standard.input:not(:placeholder-shown),
.standard.input:disabled,
.standard.input[disabled] {
  padding: padding('input');
}
.no-border {
  border: none !important;
}

.input {
  z-index: 0;
  width: 100%;
  padding: padding('input.select');
  cursor: pointer;
  &.with-icon {
    padding: padding('input-select.with-icon');
  }
  &::placeholder {
    color: color('text-dark-medium-emphasis');
  }
  &:disabled,
  &[disabled] {
    background-color: transparent;
  }
}

.value .input,
.value .input:not(:placeholder-shown) {
  width: 90%;
  text-overflow: ellipsis;
  border: none;
  border-bottom: transparent;
}
