@import '@accoutrement';

.value {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input {
  z-index: 0;
  width: 100%;
  color: color('text-dark-medium-emphasis');
  cursor: pointer;

  &.with-icon {
    padding: padding('input.with-icon');
  }
}

.value .input {
  width: 90%;
  text-overflow: ellipsis;
  border-bottom: transparent;
}
